<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserva de Mesa</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>

header {
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        header img {
            max-width: 20%;
            height: auto;
        }

    body {
      margin: 0;
      padding: 0;
      background-image: url('https://img.freepik.com/vector-gratis/pared-piso-madera-superficie-envejecida-realista_107791-682.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1706400000&semt=ais');
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .haft.red{
      background-color: red;
      height: 50%;
    }
    .haft.blue{
      background-color: blue;
      height: 50%;
    }
    .title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }

    label {
      font-size: 22px;
      color: white;
    }
  </style>
</head>
<body>
    <header>
        <img src="https://polloscampeon.com/wp-content/uploads/2021/04/Web-06-1024x471.png" alt="Logo">
    </header>
  <div id="app" class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <form @submit.prevent="submitReservation">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input v-model="reservation.nombre" type="text" class="form-control" id="nombre" required>
          </div>
          <div class="form-group">
            <label for="consulta">Tipo de Consulta</label>
            <select v-model="reservation.consulta" class="form-control" id="consulta" required>
              <option value="">Seleccione...</option>
              <option>Consulta de Menú</option>
              <option>Reserva de Mesa</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fecha">Fecha de Reserva</label>
            <input v-model="reservation.fecha" type="date" class="form-control" id="fecha" :min="currentDate" required>
          </div>
          <div class="form-group">
            <label for="hora">Hora de Reserva</label>
            <select v-model="reservation.hora" class="form-control" id="hora" required>
              <option value="">Seleccione...</option>
              <option v-for="time in availableTimes" :key="time">{{ time }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="personas">Número de Personas</label>
            <select v-model="reservation.personas" class="form-control" id="personas" required>
              <option value="" disabled>Seleccione...</option>
              <option v-for="i in 10" :key="i">{{ i }} persona{{ i > 1 ? 's' : '' }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="correo">Correo Electrónico</label>
            <input v-model="reservation.correo" type="email" class="form-control" id="correo" required>
          </div>
          
        </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
      <div v-if="reservation.message" id="reservation-message" class="mt-4">{{ reservation.message }}</div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        reservation: {
          nombre: '',
          consulta: '',
          fecha: '',
          hora: '',
          correo: '',
          evento: '',
          personas: '',
          mensaje: '',
          message: ''
        },
        currentDate: '',
        availableTimes: [
          '11:00 am', '12:00 pm', '1:00 pm', '2:00 pm',
          '3:00 pm', '4:00 pm', '5:00 pm', '6:00 pm',
          '7:00 pm', '8:00 pm', '9:00 pm', '10:00 pm',
          '11:00 pm'
        ]
      },
      mounted() {
        this.currentDate = new Date().toISOString().split('T')[0];
      },
      methods: {
        submitReservation() {
          
          if (
            this.reservation.fecha &&
            this.reservation.personas &&
            this.reservation.hora &&
            this.reservation.nombre &&
            this.reservation.correo &&
            this.reservation.consulta &&
            this.reservation.evento &&
            this.reservation.mensaje
          ) {
            
            this.reservation.message = 'Reserva registrada';
            
            this.resetForm();
          } else {
            this.reservation.message = 'Por favor complete todos los campos';
          }
        },
        resetForm() {
          this.reservation = {
            nombre: '',
            consulta: '',
            fecha: '',
            hora: '',
            correo: '',
            evento: '',
            personas: '',
            mensaje: '',
            message: ''
          };
        }
      }
    });
  </script>
</body>
</html>