<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="icon" href="imag/logo1.jpg">
    <link rel="stylesheet" href="imag/">
    <title>DELIBURGER-Menú de Restaurante</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/Principal.html">Deliburger</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Principal.html">Principal</a>
              </li>
              <li class="nav-item">
                <li class="nav-item">
                <a class="nav-link active" href="/Menu.html">Menu</a>
              </li>    
            
          </div>
        </div>
      </nav>  
    <br>
    <div id="app">
        <h1 id="elmenu">Menú del Restaurante</h1>
        <br>
        <br>
        <div v-for="categoria in categorias" :key="categoria.c" class="form-check form-check-inline" style="padding-left: 50px;">
            <input type="checkbox" :value="categoria.nombre" v-model="categoriaSeleccionada[categoria.c]" class="form-check-input">
            <label class="form-check-label" style="color: rgb(255, 153, 0);;">{{ categoria.nombre }}</label>
        </div>
        <br>
        <br>
        <br>

        <!-- Cartas y Modales Dinámicos -->
        <div v-if="mostrar"> 
            <div class="row" style="text-align: center; padding-left: 100px; padding-right: 100px;">
                <div v-for="item in menuFiltrado" :key="item.id" class="col-md-4 mb-4">
                    <div class="card" style="background-color: transparent;">
                        <img :src="item.modalImagen" alt="Hamburguesa Imagen" class="card-img-top" style="height:220px;width:auto;">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#' + item.modalId">
                                {{ item.botontexto }}
                            </button>
                        </div>
                    </div>

                    <!-- Modal Dinámico -->
                    <div :id="item.modalId" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ item.modaltitulo }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="pedir"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Contenido Dinámico del Modal -->
                                    <img :src="item.modalImagen" alt="Hamburguesa Imagen" class="img-fluid">
                                    <p>{{ item.hamburguesaInfo }}</p>
                                    <p>Ingredientes: {{ item.ingredientes }}</p>
                                    <p>Calorías: {{ item.calorias }}</p>
                                    <p>Precio: bs{{item.precio}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" @click="abrirSegundoModal(item)">Pedir</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div  class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title " id="exampleModalToggleLabel2">{{ modalSeleccionado.modaltitulo }} 
                                <button type="button" class="btn btn-secondary" @click="aumentarCantidad">Añadir : {{cantidad}}</button></h5>
                              
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <img :src="modalSeleccionado.modalImagen" alt="Hamburguesa Imagen" class="img-fluid">
                              <p>{{ modalSeleccionado.hamburguesaInfo}}</p>
                              <p>Ingredientes: {{ modalSeleccionado.ingredientes }}</p>
                              <p>Añadir extra: </p>
                            <div v-for="extra in menuFiltradoSegundoModal" :key="extra.id" class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" :id="extra.modalId">
                                <label class="form-check-label" :for="extra.modalId">{{ extra.botontexto }}</label>
                            </div>
                                
                            </div>
                            <div class="modal-footer">
                                <label >Total: Bs {{modalSeleccionado.precio * cantidad}}</label>
                              <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" @click="pedir">Cancelar</button>
                              <button type="submit" class="btn btn-success" @click="pedir">Pedir</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-light py-3">
        <div class="container">
            <div class="row" style="overflow: auto;">
                <div class="col-12 text-center">
                  <h4>Siguenos en nuestras redes
                    
                  </h4>
                  <hr>
                    <a href="https://www.facebook.com/DeliBurger.Bolivia?mibextid=ZbWKwL" target="_blank" class="btn btn-primary" style="background-color: transparent; border-color: transparent;">
                      <img src="./imag/Facebook_Logo_(2019).png" alt="Facebook" class="mr-2" style="height: 50px;width: 50px;">      
                      <br>
                      Facebook
                    </a>
                    <a href="https://www.instagram.com/deliburger.lafavorita/" target="_blank" class="btn btn-primary" style="background-color: transparent; border-color: transparent;">
                        <img src="./imag/instaLogo.png" alt="Instagram" class="mr-2" style="height: 50px; width: 50px;">
                        <br>
                        Instagram
                    </a>
                </div>
                
            </div>
        </div>
    </footer>
    <script>
        Vue.createApp({
            data() {
                return {
                    total: 0,
                    cantidad: 1,
                    modalSeleccionado: {},
                    mostrar:true,
                    categorias: [
                        { c: "1", nombre: "Hamburguesas" },
                        { c: "2", nombre: "Lomitos" },
                        { c: "3", nombre: "Pollos" },
                        { c: "4", nombre: "Milanesas" },
                        { c: "5", nombre: "Salchipapa" },
                        { c: "6", nombre: "Bebidas" },
                        { c: "7", nombre: "Extras" },
                    ],
                    categoriaSeleccionada: {},
                    menu: [
                    {
                    id: 1,
                    modalId: 'hamburguesaSimple',
                    botontexto: 'Hamburguesa simple',
                    modaltitulo: 'Hamburguesa Simple',
                    modalImagen: 'imag/hamburguesa simple.jpg',
                    hamburguesaInfo: 'Deliciosa hamburguesa con carne de res, queso, lechuga y tomate.',
                    ingredientes: 'Carne de res, pan, queso, lechuga, tomate',
                    calorias: '550 calorías',
                    categ:1,
                    precio: 16,
                },
                {
                id: 2,
                modalId: 'hamburguesaDoble',
                botontexto: 'Hamburguesa doble',
                modaltitulo: 'Hamburguesa Doble',
                modalImagen: 'imag/Hamburguesa doble.jpg',
                hamburguesaInfo: 'Doble porción de carne de res con doble queso, lechuga y tomate.',
                ingredientes: 'Doble porción de carne de res, pan, doble queso, lechuga, tomate',
                calorias: '750 calorías',
                categ:1,
                precio: 23,
            },
            {
            id: 3,
            modalId: 'deliBurgue',
            botontexto: 'Deliburguer',
            modaltitulo: 'Deliburguer',
            modalImagen: 'imag/deli.jpg',
            hamburguesaInfo: 'Exquisita hamburguesa con una jugosa porción de carne de res, queso cheddar derretido, bacon crujiente, huevo frito, cebolla caramelizada, lechuga y tomate.',
            ingredientes: 'Carne de res, pan, queso cheddar, bacon, huevo frito, cebolla caramelizada, lechuga, tomate',
            calorias: '900 calorías',
            categ:1,
            precio: 30,
        },
        {
            id: 4,
            modalId: 'deliBurguerDoble',
            botontexto: 'Deliburguer doble',
            modaltitulo: 'Deliburguer Doble',
            modalImagen: 'imag/deli2.jpg',
            hamburguesaInfo: 'Doble porción jugosa de carne de res, doble queso cheddar derretido, doble bacon crujiente, huevo frito, cebolla caramelizada, lechuga y tomate en un pan suave.',
            ingredientes: 'Doble porción de carne de res, pan, doble queso cheddar, doble bacon, huevo frito, cebolla caramelizada, lechuga, tomate',
            calorias: '1200 calorías',
            categ:1,
            precio: 35,
        },
        {
            id: 5,
            modalId: 'deliBurguerTriple',
            botontexto: 'Deliburguer triple',
            modaltitulo: 'Deliburguer Triple',
            modalImagen: 'imag/deli3.jpg',
            hamburguesaInfo: 'Triple porción jugosa de carne de res, triple queso cheddar derretido, triple bacon crujiente, huevo frito, cebolla caramelizada, lechuga y tomate en un pan suave.',
            ingredientes: 'Triple porción de carne de res, pan, triple queso cheddar, triple bacon, huevo frito, cebolla caramelizada, lechuga, tomate',
            calorias: '1600 calorías',
            categ:1,
            precio: 45,
        },
        {
    id: 6,
    modalId: 'lomito',
    botontexto: 'Lomito',
    modaltitulo: 'Lomito',
    modalImagen: 'imag/lomi.jpg',
    hamburguesaInfo: 'Sabroso lomito con tierna carne de res, queso suizo fundido, cebollas salteadas, tomate y mayonesa, todo servido en un pan ciabatta.',
    ingredientes: 'Carne de res, pan ciabatta, queso suizo, cebollas salteadas, tomate, mayonesa',
    calorias: '700 calorías',
    categ:2,
    precio: 17,
},
{
    id: 7,
    modalId: 'lomitoDoble',
    botontexto: 'Lomito doble',
    modaltitulo: 'Lomito Doble',
    modalImagen: 'imag/lomi2.jpg',
    hamburguesaInfo: 'Doble porción de sabroso lomito con tierna carne de res, doble queso suizo fundido, cebollas salteadas, tomate y mayonesa, todo servido en un pan ciabatta.',
    ingredientes: 'Doble porción de carne de res, pan ciabatta, doble queso suizo, cebollas salteadas, tomate, mayonesa',
    calorias: '1000 calorías',
    categ:2,
    precio: 25,
},
{
    id: 8,
    modalId: 'lomiburguer',
    botontexto: 'Lomiburguer',
    modaltitulo: 'Lomiburguer',
    modalImagen: 'imag/lomi3.jpg',
    hamburguesaInfo: 'Deliciosa combinación de lomito con una jugosa porción de carne de res, queso cheddar derretido, lechuga, tomate y una suave salsa especial, todo servido en un pan de hamburguesa.',
    ingredientes: 'Carne de res, pan de hamburguesa, lomito, queso cheddar, lechuga, tomate, salsa especial',
    calorias: '850 calorías',
    categ:2,
    precio: 17,
},
{
    id: 9,
    modalId: 'polloEconomicoPierna',
    botontexto: 'Pollo Económico Pierna',
    modaltitulo: 'Pollo Económico Pierna',
    modalImagen: 'imag/p1.png',
    hamburguesaInfo: 'Pollo económico con jugosa pierna de pollo asada, servida con lechuga, tomate y una suave salsa de mostaza y miel, todo en un pan suave.',
    ingredientes: 'Pierna de pollo asada, pan suave, lechuga, tomate, salsa de mostaza y miel',
    calorias: '450 calorías',
    categ:3,
    precio: 12,
},
{
    id: 10,
    modalId: 'polloEconomicoPecho',
    botontexto: 'Pollo Económico Pecho',
    modaltitulo: 'Pollo Económico Pecho',
    modalImagen: 'imag/p2.png',
    hamburguesaInfo: 'Sabroso pollo económico con pechuga asada, acompañado de lechuga, tomate y una suave salsa de ajo y hierbas, todo en un pan suave.',
    ingredientes: 'Pechuga de pollo asada, pan suave, lechuga, tomate, salsa de ajo y hierbas',
    calorias: '400 calorías',
    categ:3,
    precio: 13,
},
{
    id: 11,
    modalId: 'polloCuartoPierna',
    botontexto: 'Pollo Cuarto Pierna',
    modaltitulo: 'Pollo Cuarto Pierna',
    modalImagen: 'imag/p3.jpg',
    hamburguesaInfo: 'Delicioso pollo con cuarto de pierna asado, acompañado de lechuga, tomate y una suave salsa de limón y hierbas, todo en un pan suave.',
    ingredientes: 'Cuarto de pierna de pollo asado, pan suave, lechuga, tomate, salsa de limón y hierbas',
    calorias: '500 calorías',
    categ:3,
    precio: 22,
},
{
    id: 12,
    modalId: 'polloCuartoPecho',
    botontexto: 'Pollo Cuarto Pecho',
    modaltitulo: 'Pollo Cuarto Pecho',
    modalImagen: 'imag/p4.jpg',
    hamburguesaInfo: 'Exquisito pollo con cuarto de pechuga asada, servido con lechuga, tomate y una suave salsa de mostaza y miel, todo en un pan suave.',
    ingredientes: 'Cuarto de pechuga de pollo asada, pan suave, lechuga, tomate, salsa de mostaza y miel',
    calorias: '450 calorías',
    categ:3,
    precio: 23,
},
{
    id: 13,
    modalId: 'polloALaCanasta',
    botontexto: 'Pollo a la Canasta',
    modaltitulo: 'Pollo a la Canasta',
    modalImagen: 'imag/pc.jpg',
    hamburguesaInfo: 'Delicioso pollo a la canasta con piezas variadas, papas fritas, salsa de ajo y kétchup. Una opción perfecta para compartir con amigos o familia.',
    ingredientes: 'Piezas variadas de pollo, papas fritas, salsa de ajo, kétchup',
    calorias: '600 calorías',
    categ:3,
    precio: 17,
},
{
    id: 14,
    modalId: 'salchipapa',
    botontexto: 'Salchipapa',
    modaltitulo: 'Salchipapa',
    modalImagen: 'imag/salchipapa.jpg',
    hamburguesaInfo: 'Deliciosa combinación de papas fritas crujientes y salchichas asadas, cubiertas con queso derretido y salsa de tomate y mayonesa.',
    ingredientes: 'Papas fritas, salchichas asadas, queso derretido, salsa de tomate, mayonesa',
    calorias: '700 calorías',
    categ:5,
    precio: 20,
},
{
    id: 15,
    modalId: 'milanesaCarne',
    botontexto: 'Milanesa de Carne',
    modaltitulo: 'Milanesa de Carne',
    modalImagen: 'imag/mc.jpg',
    hamburguesaInfo: 'Tierna milanesa de carne de res empanizada y frita, acompañada de puré de papas, ensalada fresca y una rodaja de limón.',
    ingredientes: 'Milanesa de carne de res, pan rallado, puré de papas, ensalada, limón',
    calorias: '800 calorías',
    categ:4,
    precio: 25,
},
{
    id: 16,
    modalId: 'milanesaPollo',
    botontexto: 'Milanesa de Pollo',
    modaltitulo: 'Milanesa de Pollo',
    modalImagen: 'imag/mp.jpg',
    hamburguesaInfo: 'Jugosa milanesa de pollo empanizada y frita, acompañada de arroz, vegetales salteados y una salsa de champiñones.',
    ingredientes: 'Milanesa de pollo, pan rallado, arroz, vegetales salteados, salsa de champiñones',
    calorias: '650 calorías',
    categ:4,
    precio: 25,
    
},
{
    id: 17,
    modalId: 'gaseosa500ml',
    botontexto: 'Gaseosa 500ml',
    modaltitulo: 'Gaseosa 500ml',
    modalImagen: 'imag/g1.webp',
    hamburguesaInfo: 'Refrescante gaseosa en presentación de 500ml. Ideal para acompañar tus comidas y disfrutar de un sabor único.',
    ingredientes: 'Agua carbonatada, azúcar, colorante, saborizantes',
    calorias: '200 calorías',
    categ:6,
    precio: 6,
},
{
    id: 18,
    modalId: 'gaseosa2litros',
    botontexto: 'Gaseosa 2 litros',
    modaltitulo: 'Gaseosa 2 litros',
    modalImagen: 'imag/g2.jpg',
    hamburguesaInfo: 'Gaseosa refrescante en presentación de 2 litros. Perfecta para compartir en reuniones o disfrutar en casa con amigos y familiares.',
    ingredientes: 'Agua carbonatada, azúcar, colorante, saborizantes',
    calorias: '800 calorías',
    categ:6,
    precio: 14,
},
{
    id: 19,
    modalId: 'gaseosa3litros',
    botontexto: 'Gaseosa 3 litros',
    modaltitulo: 'Gaseosa 3 litros',
    modalImagen: 'imag/g3.jpg',
    hamburguesaInfo: 'Gaseosa refrescante en formato grande de 3 litros. Perfecta para compartir en celebraciones o eventos especiales.',
    ingredientes: 'Agua carbonatada, azúcar, colorante, saborizantes',
    calorias: '1200 calorías',
    categ:6,
    precio: 17,
},
{
    id: 20,
    modalId: 'tropiFrut600ml',
    botontexto: 'Tropi-Frut 600ml',
    modaltitulo: 'Tropi-Frut 600ml',
    modalImagen: 'imag/t1.jpg',
    hamburguesaInfo: 'Refrescante bebida Tropi-Frut con la mezcla perfecta de jugo de frutas tropicales en una presentación de 600ml. Disfruta de una explosión de sabores naturales.',
    ingredientes: 'Jugo de frutas tropicales, agua, azúcar',
    calorias: '250 calorías',
    categ:6,
    precio: 6,
},
{
    id: 21,
    modalId: 'tropiFrut1litro',
    botontexto: 'Tropi-Frut 1 litro',
    modaltitulo: 'Tropi-Frut 1 litro',
    modalImagen: 'imag/t2-jpg.jpg',
    hamburguesaInfo: 'Bebida Tropi-Frut en formato grande de 1 litro. Una opción perfecta para saciar tu sed con la frescura y delicioso sabor de las frutas tropicales.',
    ingredientes: 'Jugo de frutas tropicales, agua, azúcar',
    calorias: '500 calorías',
    categ:6,
    precio: 11,
},
{
    id: 22,
    modalId: 'refrescoNatural500ml',
    botontexto: 'Refresco Natural 500ml',
    modaltitulo: 'Refresco Natural 500ml',
    modalImagen: 'imag/r1.jpg',
    hamburguesaInfo: 'Refrescante bebida natural con sabores intensos en presentación de 500ml. Descubre la frescura de la fruta en cada sorbo.',
    ingredientes: 'Agua, frutas frescas, azúcar, hielo',
    calorias: '150 calorías',
    categ:6,
    precio: 4,
},
{
    id: 23,
    modalId: 'refrescoNatural1litro',
    botontexto: 'Refresco Natural 1 litro',
    modaltitulo: 'Refresco Natural 1 litro',
    modalImagen: 'imag/r2.jpg',
    hamburguesaInfo: 'Bebida natural refrescante en formato de 1 litro. Ideal para compartir y disfrutar de la auténtica esencia de la fruta.',
    ingredientes: 'Agua, frutas frescas, azúcar, hielo',
    calorias: '300 calorías',
    categ:6,
    precio: 7,
},
{
    id: 24,
    modalId: 'refrescoNatural2litros',
    botontexto: 'Refresco Natural 2 litros',
    modaltitulo: 'Refresco Natural 2 litros',
    modalImagen: 'imag/r3.jpg',
    hamburguesaInfo: 'Bebida natural refrescante en formato de 2 litros. Perfecta para reuniones y eventos, donde todos podrán disfrutar de su sabor único.',
    ingredientes: 'Agua, frutas frescas, azúcar, hielo',
    calorias: '600 calorías',
    categ:6,
    precio: 13,
},
{
    id: 25,
    modalId: 'extraTocino',
    botontexto: 'Tocino',
    modaltitulo: 'Tocino',
    modalImagen: 'imag/pt.jpg',
    hamburguesaInfo: 'Añade un toque ahumado y crujiente con nuestras tiras de tocino. Perfecto para darle ese sabor extra a tus platillos favoritos.',
    ingredientes: 'Tiras de tocino',
    calorias: '100 calorías por porción',
    categ:7,
    precio: 4,
},
{
    id: 26,
    modalId: 'extraJamon',
    botontexto: 'Jamón',
    modaltitulo: 'Jamón',
    modalImagen: 'imag/pj.jpg',
    hamburguesaInfo: 'Delicioso jamón de calidad premium para complementar tus platos. Su sabor ahumado y jugoso hará que cada bocado sea memorable.',
    ingredientes: 'Lonchas de jamón',
    calorias: '80 calorías por porción',
    categ:7,
    precio: 4,
},
{
    id: 27,
    modalId: 'extraPapa',
    botontexto: 'Papas Fritas',
    modaltitulo: 'Papas Fritas',
    modalImagen: 'imag/pp.jpg',
    hamburguesaInfo: 'Crujientes y doradas papas fritas, la acompañante perfecta para tus platillos. Disfruta de su sabor y textura inigualables.',
    ingredientes: 'Papas, aceite, sal',
    calorias: '150 calorías por porción',
    categ:7,
    precio: 7,
},
{
    id: 28,
    modalId: 'extraHuevo',
    botontexto: 'Huevo',
    modaltitulo: 'Huevo',
    modalImagen: 'imag/ph.jpg',
    hamburguesaInfo: 'Añade un toque de proteína y cremosidad con un huevo frito. Perfecto para desayunos, hamburguesas o cualquier platillo que desees mejorar.',
    ingredientes: 'Huevo',
    calorias: '70 calorías por huevo',
    categ:7,
    precio: 4,
},
{
    id: 29,
    modalId: 'extraQueso',
    botontexto: 'Queso',
    modaltitulo: 'Queso',
    modalImagen: 'imag/pq.jpg',
    hamburguesaInfo: 'Queso de alta calidad, derretido y delicioso. Añade este toque cremoso a tus platillos para una experiencia gastronómica única.',
    ingredientes: 'Queso cheddar',
    calorias: '90 calorías por porción',
    categ:7,
    precio: 4,
},
{
    id: 30,
    modalId: 'extraArroz',
    botontexto: 'Arroz',
    modaltitulo: 'Arroz',
    modalImagen: 'imag/pa.jpg',
    hamburguesaInfo: 'Acompaña tus platillos con nuestro arroz suave y delicioso. Perfecto para absorber sabores y mejorar la experiencia gastronómica.',
    ingredientes: 'Arroz',
    calorias: '120 calorías por porción',
    categ:7,
    precio: 6,
},
{
    id: 31,
    modalId: 'extraPlatano',
    botontexto: 'Plátano Maduro',
    modaltitulo: 'Plátano Maduro',
    modalImagen: 'imag/ppp.jpg',
    hamburguesaInfo: 'Plátanos maduros fritos, dulces y caramelizados. Añade un toque de sabor tropical a tus platillos favoritos.',
    ingredientes: 'Plátano maduro, aceite, azúcar',
    calorias: '150 calorías por porción',
    categ:7,
    precio: 7,
},

                    ],
                };
            },

            computed: {

                menuFiltradoSegundoModal(){
                    return this.menu.filter(item => item.categ === 7);
                },
                menuFiltrado() {
                    const categoriasSeleccionadas = Object.keys(this.categoriaSeleccionada).filter(
                        key => this.categoriaSeleccionada[key]
                    );

                    if (categoriasSeleccionadas.length === 0) {
                        // Si no se selecciona ninguna categoría, mostrar todo el menú
                        return this.menu;
                    }

                    // Filtrar el menú por categorías seleccionadas
                    return this.menu.filter(item => categoriasSeleccionadas.includes(item.categ.toString()));
                },
            },
            methods: {
            pedir(){
                location.reload();
            },
            abrirSegundoModal(item) {
                this.modalSeleccionado = item; 
                new bootstrap.Modal(document.getElementById('exampleModalToggle2')).show();
            },
            aumentarCantidad(){
                this.cantidad+=1;
            },
            precioTotal(){
                this.total = item.precio * this.contador
            }
            


            },
        }).mount('#app');
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
