<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reserva</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="primer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Logo en el lado izquierdo -->
        <a class="navbar-brand" href="#">
            <img src="img/logo.PNG" alt="Logo" class="img-fluid">
        </a>

        <!-- H1 centrado -->
        <div class="navbar-brand">
            <h1>VALERIA BERTHY </h1>
        </div>

        <!-- Botón para dispositivos pequeños -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido de la barra de navegación -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Botones de la barra de navegación con margen entre ellos -->
                <li class="nav-item me-2">
                    <a class="nav-link" href="catalogo1.html">CATALOGO</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link"  href="index.html">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="informacion.html">INFORMACION</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    
        <div v-if="mostrar" style="text-align: center; font-family: 'Arial', sans-serif; margin-top: 20px;">
            <!-- Recuadro negro con margen rosa -->
            <div v-if="!reservaRealizada"    style="background-color: black; padding: 50px; margin: 40px auto; max-width: 1500px; border: 2px solid #ffc0cb;">
                <!-- Formulario con apartado para nombre, campo adicional, empleador, fecha y botón de enviar -->
                <form @submit.prevent="enviarFormulario" style="display: flex; flex-wrap: wrap;">
                    <div style="flex: 1; margin-right: 10px;">
                        <label for="nombre" style="color: white;">Nombre completo:</label>
                        <input type="text" v-model="nombre" required style="width: 100%; padding: 10px; margin-bottom: 10px;">
                    </div>

                    <div style="flex: 1; margin-right: 10px;">
                        <!-- Lista de empleadores -->
                        <label for="empleador" style="color: white;">Empleador:</label>
                        <select v-model="empleador" required style="width: 100%; padding: 10px; margin-bottom: 10px; background-color: #333; color: white;">
                            <option value="valeria_bethy">Valeria Bethy</option>
                            <option value="yesdwar_perez">Yesdwar Perez</option>
                        </select>
                    </div>

                    <div style="flex: 1; margin-right: 10px;">
                        <!-- Lista de servicios -->
                        <label for="servicio" style="color: white;">Servicio:</label>
                        <select v-model="servicio" required style="width: 100%; padding: 10px; margin-bottom: 10px; background-color: #333; color: white;">
                            <option value="servicio1">Peinados para Niñas</option>
                            <option value="servicio2">Peinados para Damas</option>
                            <option value="servicio2">alaciado Progresivo</option>   
                            <option value="servicio2">Tratamiento Capilar</option>
                            <option value="servicio2">Maquillajes para evento</option>
                            <option value="servicio2">Maquillaje para Fotografia</option>
                            <option value="servicio2">Limpieza facial </option>
                            <option value="servicio2">Baño de luna </option>
                            <option value="servicio2">uñas  tips forrado en gel </option>
                            <option value="servicio2">Uñas Acrilicas Francesas</option>
                            <option value="servicio2">Uñas Esculpidas con PoliGel </option>
                            <option value="servicio2">Uñas Acrilicas con Diseño y Piedra</option>
                            <!-- Agrega más opciones según tus servicios -->
                        </select>
                    </div>
                    <div style="flex: 1; margin-right: 10px;">
                      <label for="hora" style="color: white;">Hora de visita:</label>
                      <input type="time" v-model="hora" required style="width: 100%; padding: 10px; margin-bottom: 10px; background-color: #333; color: white;" >

                    </div>

                    <!-- Campo de fecha -->
                    <label for="fecha" style="color: white; flex-basis: 100%;">Fecha de reserva:</label>
                    <input type="date" v-model="fecha" required style="width: 100%; padding: 10px; margin-bottom: 10px; background-color: #333; color: white;">

                    <!-- Botón para enviar el formulario (puedes personalizar según tus necesidades) -->
                    <button type="botton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: rgb(234, 70, 234); padding: 10px; border: none; color: white; cursor: pointer; font-weight: bold; width: 100%;">Enviar Reversa</button>
                    
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">valeria_bethy</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                SU reserva a sido enviada Gracias por Eligirnos
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </form>

            </div>

            
        </div>
    </div>
    <footer class="float-container">
      <a href="https://www.facebook.com/profile.php?id=100093963596261&sfnsn=wa&mibextid=RUbZ1f" class="social-icon" target="_blank"><img src="img/face.png" alt="Facebook"></a>
      <a href="https://www.tiktok.com/@berthy503valeriaberthy?_t=8jKOPI4IEwI&_r=1" class="social-icon" target="_blank"><img src="img/tik.png" alt="Twitter"></a>
      <a href="https://wa.me/68926989" class="social-icon" target="_blank"><img src="img/whatsapp.jpeg" alt="whatsapp"></a>
      <p> Todos los derechos reservados @ 2024 </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      mostrar: false,
      reservaRealizada: false,
      nombre: '',
      campoAdicional: '',
      empleador: '',
      fecha: '',
      hora: ''
    },
    methods: {
      mostrarRecuadro() {
        this.mostrar = true;
      },
      enviarFormulario() {
        // Aquí puedes realizar las acciones necesarias con los datos del formulario
        // En este ejemplo, simplemente marcamos que la reserva ha sido realizada
        this.reservaRealizada = true;
      },

    }
  });
</script>

</body>
</html>
